/*
---
name: aigis test
category:
  - test
tag:
  - base
  - latest
  - pc
  - sp
---

test styles

* Base test style.

```html
<p>test</p>
```
```jade
p test
```
*/
body
  color #333
