{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "gulp": true,
    "path": true,
    "plugins": true,
    "define": true,
    "fs": true,
    "del": true,
    "notifier": true,
    "Transform": true,
    "pluginError": true,

    "jQuery": true,
    "$": true,
    "_": true
  },
  "rules": {
    "no-console": 1,
    "no-alert": 1,
    "default-case": 1
  }
}
