extends /_partials/layouts/default

block content
  p.btn.is-open(data-accr=`#content0`)
    a(href="javascript:void(0)")!= `btn0`
  div.content(id=`content0`)
    div
      p!= `content0`

  -for(var i = 1; 4 > i; i++)
    p.btn(data-accr=`#content${i}`)
      a(href="javascript:void(0)")!= `btn${i}`
    div.content(id=`content${i}`)
      div
        p!= `content${i}`

  style.
    .btn > a {
      display: block;
      padding: 1em;
      background: #ccc;
    }
    .content > div {
      padding-bottom: 10em;
    }
