extends /_partials/layouts/default

block content
  p(data-ellipsis)
    - for(var i = 1; 100 > i; i++)
      | hoge 
  br
  p(data-ellipsis=`{"lineLimit": 1, "ellipsisLabel": "ï¼"}`)
    - for(var i = 1; 100 > i; i++)
      | hoge 
  br
  p(data-ellipsis=`{"lineLimit": 2, "ellipsisLabel": "-last"}`)
    - for(var i = 1; 100 > i; i++)
      | hoge 

