extends /_partials/layouts/default

block content
  div.content1
    .js-expander
      .js-expander__outer
        .js-expander__inner
           - for(var i = 1; 100 > i; i++)
             | hoge 
      .r-expander(data-expander=`{"content": ".content1 .js-expander"}`)
        span.r-expander__fade
        a.js-expander__button(href="javascript:void(0)")
  br
  div.content2
    .js-expander
      .js-expander__outer
        .js-expander__inner
           - for(var i = 1; 100 > i; i++)
             | hoge 
      .r-expander(data-expander=`{"content": ".content2 .js-expander", "lineLimit": 1, "expandLabel": "open", "collapseLabel": "close"}`)
        span.r-expander__fade
        a.js-expander__button(href="javascript:void(0)")
