extends /_partials/layouts/default

block content
  p.btn: a(href="javascript:void(0)" data-modal-template="#modal1" data-modal-open="") btn1

  p.btn: a(href="javascript:void(0)" data-modal-template="#modal2" data-modal-open='{"id": "test"}') btn2

  p.btn: a(href="javascript:void(0)" data-modal-template="#modal3" data-modal-open='') btn3

  p.btn: a(href="javascript:void(0)" data-modal-template="#modal4" data-modal-open='{"id": "test1"}' data-modal-name="group--1") btn4-1

  p.btn: a(href="javascript:void(0)" data-modal-template="#modal4" data-modal-open='{"id": "test2"}' data-modal-name="group--2") btn4-2

  p.btn: a(href="javascript:void(0)" data-modal-template="#modal4" data-modal-open='{"id": "test3"}' data-modal-name="group--3") btn4-3

  script#modal1(type="text/template")
    p modal1

  script#modal2(type="text/template")
    p <%= data.id %>

  script#modal3(type="text/template")
    .close-btn.js-fixed-right btn
    p(style="display:block;padding:1000px 0;") content

  script#modal4(type="text/template")
    p <%= data.id %>

    | <% if(data.prev) { %>
    .btn-prev(onclick!="javascript:document.querySelector('<%= data.prev %>').click();") prev
    | <% } %>
    | <% if(data.next) { %>
    .btn-next(onclick!="javascript:document.querySelector('<%= data.next %>').click();") next
    | <% } %>

  style.
    #modal {
      background: #000;
    }
    #modal-container {
      background: #fff;
    }
    .btn {
      margin: 2em 0;
    }
