doctype html

include ../utilities/variable
include ../utilities/mixin

html.no-js(lang=lang)
  head
    include default_head

  body(class!=page_name)
    // #wrapper
    #wrapper
      != '\n'

      // header
      include header
      // /header
      != '\n'

      // main
      main(role="main")
        article
          block content
            p content
      // /main
      != '\n'

      // footer
      include footer
      // /footer
      != '\n'

    // /#wrapper

