.uk-scope
  .uk-container

    h2.uk-h2 CATEGORIES
    nav
      //- .aigis-categoryList
      .uk-list.uk-list-divider.tm-collection-tree
        != helper.renderCollectionTree('category')

    h2.uk-h2 TAG

    nav(data-uk-margin)
      each tag in config.collection.tag
        != '\n'
        a.tm-inline-block.tm-line-height-reset.uk-link-reset(href=root+'tag/'+tag+'/index.html')
          span.uk-label(class=`uk-label-${tag}`) #{tag}

    h2.uk-h2: a.uk-link-reset(href=`${root}color.html`) ALL COLORS

