body
  font-size (DEFAULT_FONT_SIZE)px
  font-family FONT_FAMILY
  line-height 1.5
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%
  color DEFAULT_FONT_COLOR
  a
    color DEFAULT_FONT_COLOR
    text-decoration none
    &:link
    &:active
    &:visited
    &:focus
      color DEFAULT_FONT_COLOR