body
  font-size (fpc)px
  font-family FONT_FAMILY
  line-height 1.5

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%

  -webkit-print-color-adjust exact

  font-feature-settings 'palt' 1
  // font-variant-ligatures no-common-ligatures
  // font-variant-numeric slashed-zero

  color FONT_COLOR_DEFAULT

a
  link_style('', '', '', '')

a
input
button
  font-family FONT_FAMILY
  -webkit-appearance none
  -moz-appearance none
  &:focus
    outline none

input
button
  &::-moz-focus-inner
    border none

input
  border none
  border-radius 0

input[type="submit"]
label
  cursor pointer

img
  vertical-align top
  max-width 100%

// fontsize
font_size_responsive(body)

