// layout
$layout = '.layout-'
$layout_pc = $layout + 'pc'
$layout_tab = $layout + 'tab'
$layout_sp = $layout + 'sp'

// ua
$ua_pc = '.ua-pc'
$ua_tab = '.ua-tab'
$ua_sp = '.ua-sp'

// short
$lpc = $layout_pc
$ltab = $layout_tab
$lsp = $layout_sp

$upc = $ua_pc
$utab = $ua_tab
$usp = $ua_sp
