$font_mincho = Georgia, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif

$font_gothic = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

$font_family = $font_gothic

$font_size_default = 16
$font_size_pc = $font_size_default
$font_size_tab = $font_size_default
$font_size_sp = $font_size_default + 10

$font_size_split = 15

// short
$fpc = $font_size_pc
$ftab = $font_size_tab
$fsp = $font_size_sp

