$width_pc = 960
$padding_pc = 30
$width_pc_inner = $width_pc - ($padding_pc * 2)

$width_tab = 768
$padding_tab = 30
$width_tab_inner = $width_tab - ($padding_tab * 2)

$width_sp = 750
$padding_sp = 30
$width_sp_inner = $width_sp - ($padding_sp * 2)

$width_min = $width_sp / 2

// short
$wpc = $width_pc
$ppc = $padding_pc
$wpc_i = $width_pc_inner

$wtab = $width_tab
$ptab = $padding_tab
$wtab_i = $width_tab_inner

$wsp = $width_sp
$psp = $padding_sp
$wsp_i = $width_sp_inner

$wmin = $width_min

