clearfix()
  &:after
    display block
    clear both
    height 0
    visibility hidden
    content ""

percent(num, maxnum, unit = '%')
  unit((((num / maxnum) * 1000) / 10), unit)

font_size(size, def = FONT_SIZE_DEFAULT)
  font-size ceil(percentage(size, def))

letter_spacing(size)
  letter-spacing (size / 1000)em

rollover(type = 'opacity', def = .7)
  if type == 'opacity'
    transition opacity .2s ease-in-out
    img
      box-shadow #000 0 0 0
    {upc} &
      &:hover
        opacity(def)

break_word()
  word-wrap break-word
  overflow-wrap break-word

// ex:margin: 10px - lh(14, 1.5) 第二引数はem指定
lh(fontsize, lineheight)
  (((fontsize * lineheight) - fontsize) / 2)

hidden_text()
  text-indent 100%
  white-space nowrap
  overflow hidden
  line-height 1

break_point(type)
  if type == 'sp'
    @media screen and (max-width: wsp)
      {block}
  if type == 'pc'
    @media screen and (min-width: (wsp + 1))
      {block}
