p = meta.p

// initialize reset || normalize
INIT_TYPE = 'normalize'

// font
FONT_MINCHO = Georgia, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif
FONT_GOTHIC = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

FONT_FAMILY = FONT_GOTHIC

FONT_SIZE_DEFAULT = 16
FONT_SIZE_PC = FONT_SIZE_DEFAULT
FONT_SIZE_SP = FONT_SIZE_DEFAULT + 10

FONT_SIZE_SPLIT = 15

// transition
TRANSITION_EASE = ease-in-out
TRANSITION_DURATION = .2s

// width
WIDTH_PC = 960
WIDTH_SP = 750

WIDTH_MIN = WIDTH_SP / 2

// color
COLOR_MAIN = #fff
COLOR_SUB = #333
COLOR_CITATION = #f2f2f2
COLOR_ACCENT = #f55

FONT_COLOR_DEFAULT = #333
FONT_COLOR_LINK_DEFAULT = #1a0dab
FONT_COLOR_LINK_HOVER = #1a0dab

// text-decoration
LINK_DECORATION_DEFAULT = underline
LINK_DECORATION_HOVER = none

// path
SRC_PATH = '../img/'

// layout
LAYOUT = '.layout-'
LAYOUT_PC = LAYOUT + 'pc'
LAYOUT_SP = LAYOUT + 'sp'

// ua
UA_PC = '.ua-pc'
UA_SP = '.ua-sp'
UA_TAB = '.ua-tab'

// short
fpc = FONT_SIZE_PC
fsp = FONT_SIZE_SP

wpc = WIDTH_PC
wsp = WIDTH_SP
wmin = WIDTH_MIN

lpc = LAYOUT_PC
lsp = LAYOUT_SP

upc = UA_PC
usp = UA_SP
utab = UA_TAB

tre = TRANSITION_EASE = ease-in-out
trd = TRANSITION_DURATION = .2s

