// font
FONT_MINCHO = "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
FONT_GOTHIC = "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Arial", "\30e1\30a4\30ea\30aa", "Meiryo", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif

FONT_FAMILY = FONT_GOTHIC

FONT_SIZE_DEFAULT = 16
FONT_SIZE_PC = FONT_SIZE_DEFAULT
FONT_SIZE_SP = FONT_SIZE_DEFAULT + 10

FONT_SIZE_SPLIT = 15

// width
WIDTH_PC = 960
WIDTH_SP = 750

WIDTH_MIN = WIDTH_SP / 2

// color
COLOR_MAIN = #fff
COLOR_SUB = #333
COLOR_CITATION = #f2f2f2
COLOR_ACCENT = #f55

FONT_COLOR_DEFAULT = #333
FONT_COLOR_LINK = #1a0dab

// path
SRC_PATH = '../img/'

// ua
UA_PC = '.ua-pc'
UA_SP = '.ua-sp'
UA_TAB = '.ua-tab'

// short
fpc = FONT_SIZE_PC
fsp = FONT_SIZE_SP

wpc = WIDTH_PC
wsp = WIDTH_SP
wmin = WIDTH_MIN

upc = UA_PC
usp = UA_SP
utab = UA_TAB
