@charset "UTF-8";

flex-version = flex;
@import "nib"

@import "partials/utilities/_variable"
@import "partials/utilities/_mixin"

@import "partials/plugins/**/*"

@import "partials/bases/_initialize"
@import "partials/bases/_content"

.{p}base
  // this = selector('^[1..-1]')
  @import "partials/components/**/*"
  @import "partials/layouts/**/*"
  @import "partials/pages/**/*"
