extends /_partials/layouts/default

block content
  p test
  p テスト
  p テスト
  p 〜
  p#scroll1(style="margin-bottom:1000px;"): a(href="#scroll2")
    | scroll1
    span test
  p#scroll2(style="margin-bottom:1000px;"): a(href="#scroll1") scroll2 test
  p#scroll3(style="margin-bottom:1000px;"): a(href="#top") scroll3 test
