extends /_partials/layouts/default

block js
  -
    var front_js_mocks = ['accordion', 'ajax', 'img_change', 'modal', 'scroll', 'tab'];
    var gulp_js_mocks = ['replace_find'];

block content
  br
  br

  h1 mock agenda
  br

  h2 front js mock
  br

  ul
    for val in front_js_mocks
      li: a(href=`/mock/${val}.html`)!= val
  br
  br

  h2 gulp js mock
  br

  ul
    for val in gulp_js_mocks
      li: a(href=`/mock/${val}.html`)!= val
  br
  br

