extends ./_layouts/default.pug

block content
  != `index`

  //- TODO ↓↓DELETE↓↓
  h2 text replace test
  p test
  p テスト
  p 〜

  h2 image change test
  p: img(src="" data-pc-src="pc" data-sp-src="sp" alt="mediaquery")
