doctype html
html(lang="ja")
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    //- if config.local.title
    //-   title!= config.local.title
    //- if config.local.description
    //-   meta(name="description" content!=config.local.description)
    //- if config.local.keywords
    //-   meta(name="keywords" content!=config.local.keywords)

  body
    // #wrapper
    #wrapper
      != '\n'

      header
        block header
          p header
      != '\n'

      main(role="main")
        article
          block content
            p content
      != '\n'

      footer
        block footer
          p footer
      != '\n'

    // /#wrapper
